.about{
    position: relative;
    height: 90vh;
    width: 90vw;
    margin: 0px 0px;

}
.lg{
    font-size: 2vw;
    padding: 0%;
}
.about-card{
    height: 80vh;
    width: 85vw;
    background-color:#D87C24;
    margin-left: 11vw;
    border-radius: 0px 16px 16px 16px ;
}
.profile{
         position: absolute;
        top: 2vh;                  
        left: 2vw;                  
        width: 100px;
        height: 100px;
        background-color:#2448D8;   
        border-radius: 50%;          
        border: 1px solid white;   
}
@media(max-width:912px){
    .about{
    height: 80vh;
    width: 50vw;
   
}
.about-card{
    height: 40vh;
    width: 70vw;
    margin-left:19vw ;
}
.lg{
    font-size: 2.5vw;
    padding: 0%;
    margin: 3vw;
}
.profile{
    height: 8vh;
    width: 15vw;
    
         
}
}