.ExpCard{
    height: 65vh;
    width: 100%;
    background: linear-gradient(to right,#2448D8 30%,#2448D8 45%,#D87c24 55%,#D87C24 100%);
    display: flex;
    
}
.ExpCardd{
    height: 70vh;
    width: 100%;
    background: linear-gradient(to right,#D87C24 30%,#D87C24 45%,#2448D8 55%,#2448D8 100%);
    display: flex;
}
.phto{
    width: 48px;
    height: 48px ;
    margin: 5vh 2vw 0vh 2vw;
}
.RT{
   width: 50%;
    
}
.RTC{
    display: flex;
}
.LT{
   width: 50%;
    
}
p{
    padding:0px; 
    margin:7vh ;
    color:white;
    text-align:left;
    font-size:1.5vw;
}
.h11{
    margin-left:0vw;color:white;font-size: 3.5vw;
}
.h1{
     padding:0px; 
  margin: 7vh;
    color:white;
    text-align:left;
    font-size:2.5vw; 
}
.ph{
    color: white;
    font-size: 3vw;
    margin-top: 5vh;
}
@media(max-width:768px){
    .ph{
    color: white;
    font-size: 6vw;
    margin-top: 6vh;
}
.phto{
    width: 28px;
    height: 28px ;
    margin: 2.5vh 2vw 0vh 2vw;
}
    .ExpCard{
   flex-direction: column;
    height: 100vh;
 
   background: linear-gradient(to bottom,#2448D8 30%,#2448D8 45%,#D87c24 55%,#D87C24 100%);
    
}
.ExpCardd{
    flex-direction: column;
    background: linear-gradient(to bottom,#D87C24 30%,#D87C24 45%,#2448D8 55%,#2448D8 100%);
    height: 120vh;
}
.RT{
   margin: 2vw;
   width: 100%;
   height: 50%;
    
}
.LT{
   width: 100%;height: 50%;margin: 2vw;
    
}
p{
    padding:0px;
   margin: 1vh 2vh;
   text-align: center;
    color:white;
    text-align:center;
    font-size:3vw;
}
.h1{ padding:0px;
    margin:7vh ;
    color:white;
    text-align:left;
    font-size:4vw;}
.h11{
    margin-left:0vw;color:white;font-size: 5vw;
}
}