.h{
    display: flex;
    gap: 50px;
    color:black;
    margin: 4px 32px ;
}
.logo{
    font-size: large;
    font-weight: bold;
    padding: 0 50% 0 10px ;
    color: #2448D8;
    font-family: 'Montserrat', sans-serif;

    
}
.HedHome{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100px;
    gap: 1px;
    padding: 150px 0px;
    font-size: x-large;
   
}
.buttonContact{
  background-color: #2448D8;
  color: white;
  font-size: 24px;
  padding: 2vh 5vw;
  border-radius: 16px;
  border: 0cm;
}
.buttonCont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    
}
.gd{
    display: flex;
    flex-direction: row; /* العناصر جنب بعض أفقيًا */
     gap: 300px;
   
}
h1{
    margin: 0cm;
    padding: 0cm;
}
.ContCnter{
    background-color: #2448D8;
    width: 25%;
    color: white;
    height: 250px;
    padding: px 0px 0px 0px;

 
 
}
.typing-container {
  font-family: 'Courier New', monospace;
  font-size: 1.8rem;
  white-space: pre-wrap;
  color: #333;
}

.cursor {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.img{
  width: 30;
  height: 30;
}
img:hover{
  transform: scale(1.1); /* تكبير الصورة */
  transition: transform 0.3s ease;

}
.butt{
  margin: 10px 30px;
  gap: 10px;
  display: flex;
  transition: transform 0.4s ease;

}

.buttonContact:hover {
  transform: scale(1.1); /* يكبّر العنصر بنسبة 20% */
}
.opp{
  color: black;
}
.cardText{
  color:white;
  margin: 10px;
  padding:0px;
  font-size: x-large;
  font-family: Montserrat;
  text-Align:center;


}
.yaer{
  color: rgb(160, 160, 160);
  padding: 0px 0px 0px 60px ;

}
.skil{
  background-color: rgba(250, 235, 215, 0.822);
  color: black;
  border-radius: 60px;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  text-Decoration:none;
  text-decoration-line: none;
}
.myphoto{
  width: 30vw;
  height: 50vh;
}
.myphoto2{
  width:5vw; padding:0px 0px;margin:100px 10vw 100px 5vw
}
.cont{
  margin:0px; padding:70px 0px 0px 0px; font-size:32px;font-size:Montserrat;
}
.cont2{margin:0px 0px 50px 0px; padding:0px;font-size:64px; }
.hedcont{display:flex ;height: 250px; width: 100%;}
.nav-options{
  display: flex;gap: 50px;
}
.nav-options a{
 text-decoration: none;color: #333;font-size: 18px;
}
.hamburger{ display: none;font-size: 24px;background: none;border: none;
   cursor: pointer;}
.aboutP{font-size: 24px;}
.hedcont{
  margin: 0px;padding: 0px;
}
.imgSkills{
  width: 50px;height: 50px;
}
.imgSkillspar{display: flex;justify-content: center;align-items: center;gap: 10%;}
.workcard{width:300px;background:#2448D8;gap:1px;margin:25px;border-radius:14px;padding:0px}
.cardTextt{
  color:white;margin: 10px;padding:0px;font-size:16px;font-family: Montserrat;text-Align:center;


}
.borderWork{
  margin:64px;border:solid #AAAAAA 3px;border-radius:16px;background-color:#FAFAFA;
}
.texttype{
  font-size: 3.5vw;
  
  text-align: left;
}
.divWorkCard{margin: 64px;border:solid #AAAAAA 3px;border-radius:16px;background-color:#FAFAFA}

@media (max-width: 912px) {
  .texttype{
  font-size: 5.5vw;
  
}
.buttonContact{width:50vw ;}
  .hedcont{display:flex ;height: auto; width: 100%;}
  .borderWork{
  margin:5px;border:solid #AAAAAA 3px;border-radius:16px;background-color:#FAFAFA;
}
  .HedHome{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100px;
    gap: 1px;
    padding: 150px 0px;
    font-size: 24px;
   
}
 .buttonCont{
  flex-direction: column;
    padding: 50px 00px;
    
}
  .yaer{
  color: rgb(160, 160, 160);
  padding: 0px 0px 0px 20px ;
  font-size: 10px;

}
  .cardTextt{
  color:white;margin: 10px;padding:0px;font-size:10px;font-family: Montserrat;text-Align:center;


}
  .cardText{
  color:white;margin: 10px;padding:0px;font-size:small;font-family: Montserrat;text-Align:center;


}
.divWorkCard{margin: 25px;border:solid #AAAAAA 3px;border-radius:16px;background-color:#FAFAFA}
  .workcard{width:150px;background:#2448D8;gap:1px;margin:25px;border-radius:14px;padding:0px}
  .imgSkills{
  width: 30px;height: 30px;
}
.imgSkillspar{display: flex;justify-content: center;align-items: center;gap: 5%;}
  .img{
  width: 30px;
  height: 30px;
}

  .aboutP{font-size: 10px; margin: 0px 5px;}
  .myphoto{ width: 75vw;height: 35vh;}
.myphoto2{width: 100%; padding:0px 0px;margin:10px 0px 10px 0px;
  display: flex;
  justify-content: center;align-items: center;}
.HedHome{
    width: 100%;
    height: 300px;
    gap: 1px;
    padding: 0px 0px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.typing-container {
  font-family: 'Courier New', monospace;
  font-size: 1.6rem;
  white-space: pre-wrap;
  color: #333;
}
.gd {flex-direction: column;gap: 5px; }
.ContCnter{
    background-color: #2448D8;
    width: 25%;
    color: white;
    height: auto;
    padding: 20px 0px 20px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.super{display: flex;flex-direction: column;justify-content: center;}
.cont{
  margin:0px; padding:0px 0px 0px 0px; font-size:16px;font-size:Montserrat
}
.cont2{margin:0px 0px 0px 0px; padding:0px;font-size:24px; }
.nav-options{display:none; flex-direction: column;position: absolute; top: 50px;
  left: 0;width: 100%;box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;padding: 10px 0px;  
}
.nav-options.open{display: flex;}
.hamburger{display: block;}
}
 /* تكبير الصورة */
  

